body {
    background: white;
}
div.row div {
    width: 20px;
    height: 20px;
    /* border: 1px solid black; */
    display: inline-block;
}
div.brick {
    background: blue;
}

div.coin {
    background: url('images/coin.png');
    background-position: center;
    background-size: 20px 20px;
}
div.pacman {
    background: url('images/pacman.gif');
    background-position: center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
}

.row   {
    line-height: 0;
}

.wall {
    background-color: blue;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.sushi {
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('images/coin.png');
    background-size: contain;
}

.onigiri {
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('images/coin.png');
    background-size: contain;
}

.blank {
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
}

#ninjaman {
    background-color: black;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('images/pacman.gif');
    background-size: contain;
    position: absolute;
    left: 20px;
    top: 20px;
}

#scoreboard {
 padding: 20px;
}
.score {
    /*background-color: lightcyan;*/
    font-family: cursive;
    width: 500px;
    height: 40px;
}

#score {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    font-size: 20px;
    display: inline;
}
#life {
    display: inline;
    color: red;
}